/* Reset Default Style */
* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-tap-hightlight: none;
    font-family: 'Open Sans';
}

*::selection {
  background: rgba(200, 20, 23, .5); /* WebKit/Blink Browsers */
}
*::-moz-selection {
  background: rgba(200, 20, 23, .5); /* Gecko Browsers */
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
    color: rgba(0,0,0,.7);
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
p {
    font-size: 13px;
}
button {
    cursor: pointer;
    background: transparent;
    border: none;
    box-shadow: none;
    font-family: sans-serif;
}

input {
    border: none;
    box-shadow: none;
    background: transparent;
    font-family: sans-serif;
    width: 56px;
}


.left {
    float: left;
}

.right {
    float: right;
}

.wrapper {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 80%;
}

html, body {
    background-color: #fafafa;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
header {
    background-image: url('../images/gradient.png');
    background-repeat: repeat-x;
    -webkit-background-size: auto 80px;
    background-size: auto 80px;
    width: 100%;
    position: fixed;
    top: 0;
    padding-bottom: 30px;
    z-index: 1;
    overflow: hidden;
}
header i {
    color: rgba(0, 0, 0, .8);
    font-size: 14px;
}
i:hover {
    color: rgba(200, 20, 23, .9);
}
header i.icon-menu {
    font-size: 20px;
}
header .wrapper {
    margin-top: 20px;
}
header input {
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}

header input:focus {
    width: 200px;
    color: rgba(0,0,0,.8);
    border-bottom: 2px solid rgba(200, 20, 23, .9);
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}

aside {
    position: fixed;
    box-shadow: 2px 0 4px rgba(0,0,0,.5);
    z-index: 999;
    top: 0;
    left: -100%;
    font-family: 'PT Serif', serif;
    height: 100%;
    width: 320px;
    color: rgba(255,255,255,1);
    background-color: #121212;
    -webkit-transition: left .5s ease-in;
    -o-transition: left .5s ease-in;
    transition: left .5s ease-in;
}

.close-btn {
    box-sizing: border-box;
    padding: 18px;
    overflow: hidden;
}

.close {
    color: rgba(255,255,255,1);
}
.panel-header, .panel-body {
    font-family: 'PT Serif', serif;
    padding: 30px 50px;
}
aside p {
    margin-top: 16px;
    color: rgba(255, 255, 255, .4);
}
nav ul li a {
    display: block;
    height: 100%;
    font-size: 18px;
    color: rgba(255,255,255,1);
    line-height: 30px;
}
nav ul li {
    height: 40px;
    line-height: 40px;
    opacity: .6;
}
nav ul li.active, nav ul li:hover {
    opacity: 1;
}
aside.active {
    left: 0;
    -webkit-transition: left .5s ease-out;
    -o-transition: left .5s ease-out;
    transition: left .5s ease-out;
}

.main {
    z-index: 100;
    margin-top: 100px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;  
}

.main-header {
    padding: 0 30px;
    text-align: center;
}
.main-header h1 {
    font-size: 26px;
    letter-spacing: 3px;
}
.main-header p {
    font-style: italic;
    font-family: 'PT Serif', serif;
    margin-top: 20px;
    color: rgba(0,0,0,.4);
}
.main-body {
    overflow: hidden;
    margin-top: 80px;
}
section {
    float: left;
    width: 25%;
    box-sizing: border-box;
    height: 360px;
    padding: 0 10px;
    margin-bottom: 36px;
}

.figure {
    width: 100%;
    height: 320px;
    position: relative;
    cursor: pointer;
}
a.figure, a.figure-mask {
    display: block;
}
.figure-text {
    position: absolute;
    bottom: 0;
}

.figure-text p {
    font-family: 'Open Sans', sans-serif;
    color: rgba(200, 20, 23, .9);
}
#open-panel:hover i {
    color: rgba(200, 20, 23, .9);
}
.figure-text h3,.figure-text h3 * {
    font-size: 18px;
    color: rgba(0,0,0,.8);
    line-height: 1.2;
    font-family: 'PT Serif', serif;
}
.figure-image {
    width: 100%;
    height: 100%;
    background-image: url('../images/works.jpg');
    background-position: center;
    background-repeat: no-repeat
    -webkit-background-size: cover;
    background-size: cover;
}

.figure-mask {
    position: absolute;
    overflow: hidden;
    opacity: 0;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 20, 23, .84);
    color: rgba(255,255,255,0);
    padding-top: 0;
    text-align: center;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.figure-mask-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 120px;
    height: 60px;
    margin: auto;
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    -o-transform: scale(10);
    transform: scale(10);
    
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.figure:hover .figure-mask {
    opacity: 1;
    color: rgba(255,255,255,1);
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}
.figure:hover .figure-mask-text {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);

    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.description {
    height: 30px;
    position: relative;
}

.description p {
    position: absolute;
    bottom: 0;
    color: rgba(0,0,0,.5);
    font-size: 12px;
    font-family: 'PT Serif', serif;
    font-style: italic;
}

a.comments-info {
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    color: rgba(200, 20, 23, .84);
}

.main-footer {
    width: 100%;
    margin-top: 50px;
}

.border-t-b {
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.main-footer button {
    color: rgba(0,0,0,.6);
    height: 60px;
    line-height: 60px;
    width: 100%;
    text-align: center;
}

footer {
    margin-top: 90px;
    margin-bottom: 60px;
    text-align: center;
}
footer p {
    color: rgba(0,0,0,.4);
}
.shadow.wrapper {
    width: 740px;
}

blockquote {
    border-left: 5px solid rgba(200, 20, 23, .5);
    padding-left: 10px;
    background-color: rgba(200, 20, 23, .05);
    box-sizing: border-box;
    font-size: 18px;
    width: 100%;
    overflow: hidden;
}
.shadow.wrapper blockquote p {
    width: calc(100% - 10px);
}
.shadow.wrapper * {
    font-family: 'PT Serif', serif;
    width: 640px;
    margin: 20px auto;
}
.shadow.wrapper code {
    text-shadow: 0 1px 0 rgba(255,255,255,1);
}
.shadow.wrapper code {
    font-family: monospace;
    background-color: rgba(200, 20, 23, .2);
    border-radius: 8px;
    padding: 0 5px;
}
.shadow.wrapper pre {
    box-sizing: border-box;
    overflow-x: auto;
    border-radius: 6px;
    padding: 10px 0;
}
.shadow.wrapper pre li {
    margin: 0;
}
.shadow.wrapper pre *, .shadow.wrapper pre {
    font-family: monospace;
    text-shadow: 0 0 0 #000;
}
.shadow.wrapper pre .com {
    font-family: "Hiragino Sans GB W3", "微软雅黑", sans-serif;
}
.shadow.wrapper img {
    width: 100%;
    margin-bottom: 40px;
}
.shadow.wrapper h3 {
    font-size: 20px;
}
.shadow.wrapper h1, .shadow.wrapper h2, .shadow.wrapper h3, .shadow.wrapper h4, .shadow.wrapper h5, .shadow.wrapper h6 {
    font-family: 'Open Sans', sans-serif;
}
.shadow.wrapper li {
    margin: 5px auto;
}
.shadow.wrapper p {
    margin: 20px auto;
    font-size: 16px;
}
.shadow.wrapper ol, .shadow.wrapper ul {
    margin: 20px 0;
    font-size: 16px;
    box-sizing: border-box;
    margin-left: 80px;
}
.shadow.wrapper pre ol {
    margin: 0;
    margin-left: 50px;
    width: calc(100% - 50px);
    font-size: 14px;
    border-left: 2px solid rgba(255,255,255,.3);
}
.shadow.wrapper pre ol li {
    width: 100%;
}
.shadow.wrapper a {
    text-shadow: 0 1px 0px rgba(0,0,0,.2);
    margin: 0 4px;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
}
.shadow.wrapper a:before {
    content: '\e807';
    font-family: 'fontello';
}
.shadow.wrapper a:active {
    text-shadow: 0 0 0 rgba(0,0,0,.5);
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
}
.shadow.wrapper a:hover {
    color: rgba(200, 20, 23, .85);
    text-decoration: underline;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
}
.shadow.wrapper ul li {
    list-style: disc;
}
.shadow.wrapper table {
    border-spacing: 0;
    border-collapse: collapse;
}
.shadow.wrapper hr {
    border-color: rgba(200, 20, 23, .2);
}
.shadow.wrapper thead>tr>th {
    padding: 8px;
    border: 1px solid rgba(200, 20, 23, .2);
    color: rgba(200, 20, 23, .9);
    border-bottom-width: 2px;
}
.shadow.wrapper tbody>tr>td {
    border: 1px solid rgba(200, 20, 23, .2);
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid rgba(200, 20, 23, .2);
}
.animate-spin {
    font-size: 20px;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
    display: inline-block;
}
.wrapper.author {
    width: 640px;
    margin: 40px auto;
    padding-top: 10px;
    border-top: 2px solid rgba(200, 20, 23, .2);
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 18px;
    background-image: url('../images/avatar.jpg');
    background-position: center;
    -webkit-background-size: 50px;
    background-size: 50px;
}

.dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 50;
    display: none;

}
.dim.active {
    display: block;
    background-color: rgba(0,0,0,.8);

    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.contact {
    margin-bottom:20px;
}
.contact i {
    cursor: pointer;
    font-size: 16px;
    margin-left: 16px;
    color: rgba(0,0,0,.3);
}
.panel-header .contact {
    margin-top: 40px;
}
.panel-header .contact i {
    font-size: 14px;
    margin-left: 12px;
}
.panel-header .contact i {
    color: rgba(255,255,255,.3);
}
.contact i:first-child {
    margin-left: 0;
}
.contact i:hover {
    color: rgba(200, 20, 23, .8);
}
.progress-bar {
    position: fixed;
    z-index: 900;
    height: 3px;
    background-color: rgba(200, 20, 23, .8);
    width: 100%;
    left: 0;
    top: 0;
}

.split-line {
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.split-line.height-10 {
    height: 10px;
}


.bordered {
    padding: 5px 20px 5px 10px;
    border: 2px solid rgba(200, 20, 23, .3);
}

.respond {
    width: 100%;
    margin: 30px auto;
}
#response {
    color: rgba(200, 20, 23, .8);
}
#comment-form p {
    margin-top: 20px;
}
.not-found button, #comment-form button {
    border: 2px solid rgba(200, 20, 23, .8);
    color: rgba(200, 20, 23, .8);
    border-radius: 18px;
    height: 36px;
    padding: 0 24px;
}
.not-found button:hover, #comment-form button:hover {
    background-color: rgba(200, 20, 23, 1);
    color: #fafafa;
}
#comment-form label {
    color: rgba(0,0,0,.5);
    font-family: 'Open Sans', sans-serif;
    display: block;
}
#comment-form label.red {
    color: rgba(200, 20, 23, .8);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.not-found input, #comment-form input {
    height: 40px;
    padding: 8px 0; 
    border-bottom: 1px solid rgba(0,0,0,.2);
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.not-found input:focus, #comment-form input:focus {
    border-bottom: 2px solid rgba(200, 20, 23, .8);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
#comment-form textarea {  
    display: block;

    width: 50%;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;

    resize: none;

    border: none;
    border-bottom: 1px solid rgba(0,0,0,.2);
    outline: none;
    background-color: transparent;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#comment-form textarea:focus {
    border-bottom: 2px solid rgba(200, 20, 23, .8);
}
#comments {
    width: 640px;
    margin: 0 auto;
    margin-top: 20px;
}
#comments ol li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 0 5px 14px;
    list-style: none;
}
.comment-children {
    width: 100%;
}
#comments h3 {
    color: rgba(200, 20, 23, .8);
    margin-bottom: 20px;
}

img.avatar {
    background: transparent;
    float: left;
}
#comments cite {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: rgba(0,0,0,.7);
    font-style: normal;
}
#comments time {
    font-size: 13px;
    font-weight: normal;
}
.comment-content p {
    padding-left: 58px;
    margin: 12px 0;
}
.comment-reply, .cancel-comment-reply {
    margin-bottom: 10px;
    text-align: right;
}
.comment-reply a, .cancel-comment-reply a {
    font-size: 12px;
    color: rgba(200, 20, 23, .5);
}

.comment-list li.comment-level-odd {
    border-left: 4px solid rgba(200, 20, 23, .15);
}

.comment-list li.comment-level-even {
    border-left: 4px solid rgba(200, 20, 23, .15);
}

.page-navigator {
    list-style: none;
    margin: 25px 0;
    padding: 0;
    text-align: center;
}
#comments .page-navigator li, .page-navigator li {
    width: auto;
    display: inline-block;
    margin: 0 4px;
    padding: 0;
}

.page-navigator .current a,.page-navigator a:hover {
    color: #fafafa;
    background: rgba(200, 20, 23, .6);
}
.page-navigator a {
    border-radius: 30px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
}

.post-title {
    text-align: center;
    color: rgba(200, 20, 23, .6);
    font-family: 'Open Sans', sans-serif;
}

article.post a {
    margin: 30px auto;
    display: block;
    font-family: 'Open Sans', sans-serif;
    height: 90px;
    line-height: 90px;
    text-align: center;
    width: 90px;
    border-radius: 48px;
    color: #fff;
    border: 2px solid rgba(200, 20, 23, .6);
    background-color: rgba(200, 20, 23, .9);
    box-shadow: 0 0 5px rgba(200, 20, 23, .6);
}
#close-panel:hover {
    color: rgba(200, 20, 23, .9);
}
article.post a:active {
    box-shadow: none;
}
@media only screen and (max-width: 640px) {
    .wrapper {
        width: 95%;
        margin: 0 auto;
    }
    section {
        width: 100%;
    }
    .shadow.wrapper {
        width: 95%;
    }
    .shadow.wrapper * {
        width: 95%;
    }
    #comments {
        width: 95%;
    }
    .shadow.wrapper pre ol {
        width: 100%;
    }
}